body {
  background-color: lavender;
}

h1 {
  color: saddlebrown;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #000;
  background: rgba(245, 215, 110, 0.5);
  transition: all linear 0.2s;
}
